#!/bin/zsh

## Set up monitor config
autorandr main

## Launch Polybar
bash ~/.config/polybar/launch.sh --forest

## Set up zsh as shell
chsh -s /bin/zsh

## Run pywal
wal -i ~/img/bg-3.jpg

## Set kb layout
setxkbmap -layout us -variant intl
